* {
  boxing-sizing: border-box;
}

h1 {
  color: red;
}

#timeParent {
  position: relative;
  height: 300px;
  width: 100%;
  /*border: solid; */
  margin: 0px auto;
}

#time {
  color: steelblue;
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 128px;
}